.filmoteka-buttons {
    margin: 60px 0 30px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
}

.filmoteka-buttons .button {
    width: 20%;
    margin-right: 0;
    padding: 10px;
    border: 2px solid black;
    border-bottom: 0px;
    outline: none;
}

.filmoteka-buttons .button:focus {
    color: #000;
    background: #fff;
}
.filmoteka-buttons .button[autofocus] {
    color: #000;
    background: #fff;
}

.message {
    margin: 80px auto;
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
}
.activ-btn {
    color: black;
    background-color: white;
    border: solid 2px;
}

.rating {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    height: 17px;
    background: gray;
    text-align: center;
    vertical-align: center;
    border-radius: 5px/5px;
}