.line {
  width: 1000px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  display: block;
//   margin-top: -1px;
}
.btn-filmoteka {
    border: solid 2px;
    width: 200px;
    margin-right:0;
    margin: 0 auto
  }
  
.btn-filmoteka:focus-within {
  color: black;
  background-color: white;
  border: solid 2px;
  
}
.activ-btn:first-child {
    color: black;
    background-color: white;
    border: solid 2px;
}

.notactiveBtn {
  cursor: default;
}